<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Servis</title>
    

   
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header class="header">
    <div class="container nav-flex">
         <a href="/">
            <img src="/images/logo.avif" alt="MyStore Logo" class="logo-img">
        </a>
        

        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Shop</a></li>
                <li><a href="/cart">Cart</a></li>
                <% if(!user){ %>
                    <li><a href="/login">Login</a></li>
                <% } else { %>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>
