<%- include("partials/header.ejs") %>

<div class="checkout-container">
    
    <h2 class="checkout-title">Checkout</h2>
    <p class="checkout-total">Total Payable: <strong>$<%= total %></strong></p>
<form action="/create-checkout-session" method="POST">
    <button type="submit" id="checkout-btn">Pay with Card</button>
</form>


    <a href="/cart" class="checkout-back">â† Back to Cart</a>

</div>

<%- include("partials/footer.ejs") %>
